#home-page-container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#add-post-button
{   
    display: flex;
    flex-direction: row;
    width: 18rem;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 1vw;
    border-radius: 25px !important;
    font-size: small;
    font-weight: 500;

}
#add-post-button > span
{
    font-weight: 300;
}