.card a {
    text-decoration: none;
    color: black;
}
.card-header{
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.profile-img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #ECECEC;
}
#img-wrapper{
    overflow: hidden;
    display: flex;
    place-items: center;
    position: relative;
}
#img-wrapper > img {
    max-width: 100%;
}

.heart-animation {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 1;
    animation: fadeOut 1s forwards;
    pointer-events: none;
}

@keyframes fadeOut {
    0% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -60%) scale(2.5);
        opacity: 0;
    }
}