.breadcrumb
{
    color: gray;
    text-decoration: none;
    width: 180px;
}

.custom-card
{
    border-radius: 30px;
    background: none;
    border: none;
    box-shadow: 10px 10px 20px 15px rgb(237, 239, 241);
    --bs-card-border-width: none;
    --bs-card-cap-bg: none;
    --bs-card-cap-padding-y: 0.75rem;
    --bs-card-cap-padding-x: 1.5rem;
}